@media (min-width: 768px) {
  .hero {
    padding-top: 172px;
  }

  .hero-main-wrap {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
  }

  .hero-left-wrap {
    width: 557px;
  }

  .hero-hdr {
    font-size: 70px;
    line-height: 0.86;
  }

  .hero-txt {
    font-size: 16px;
    line-height: 1.25;
    width: 480px;
  }

  .hero-right-wrap {
    width: auto;
    height: auto;
    margin-left: auto;
    position: relative;
    display: initial;
  }

  .hero-right-wrap a {
    font-size: 20px;
    line-height: 1;
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    white-space: nowrap;
  }

  .hero-person {
    width: 56px;
    height: 56px;
    transition: right 0.6s ease;
  }

  .hero-person-3 {
    left: auto;
    right: 0;
  }

  .hero-person-2 {
    left: auto;
    right: 39px;
  }

  .hero-person-1 {
    left: auto;
    right: 80px;
  }

  .hero-right-wrap:hover .hero-person-3 {
    left: auto;
    right: 0;
  }

  .hero-right-wrap:hover .hero-person-2 {
    left: auto;
    right: 58px;
  }

  .hero-right-wrap:hover .hero-person-1 {
    left: auto;
    right: 116px;
  }

  .hero-img-wrap {
    max-width: none;
    max-height: none;
    width: 704px;
    height: 520px;
    background: linear-gradient(rgba(12, 12, 12, 0.2), rgba(12, 12, 12, 0.2)),
      image-set(
        url('/img/hero/hero-tab.png') 1x,
        url('/img/hero/hero-tab@2x.png') 2x
      );
  }
}
