<section class="advertisement" id="advertisement">
  <div class="container advertisement-container">
    <div class="container advertisement-background">
      <h2 class="subtitle advertisement-subtitle visually-hidden">
        Advertisement
      </h2>
      <p class="text advertisement-text">
        Choose <span class="span advertisement-span">your story</span>, making
        every moment unique. Time is your style, and we reveal it.
      </p>
      <a class="link advertisement-link" href="#contact"> Contact Us</a>
    </div>
  </div>
</section>
