<section class="catalog" id="catalog">
  <div class="container catalog-container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-cards">
      <li class="catalog-images">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/1/catalog-1-desk.png    1x,
              /img/catalog/1/catalog-1-desk@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/1/catalog-1-tab.png    1x,
              /img/catalog/1/catalog-1-tab@2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/catalog/1/catalog-1-mob.png    1x,
              /img/catalog/1/catalog-1-mob@2x.png 2x
            "
          />
          <img
            class="catalog-images-clock"
            src="/img/catalog/1/catalog-1-mob.png"
            alt="Garmin Marq Athlete "
            width="292"
            height="292"
          />
        </picture>
        <div class="catalog-image-desc">
          <h3 class="image-title">Garmin Fenix 7X Pro Sapphire Solar</h3>
          <p class="image-desc">€500</p>
        </div>
      </li>
      <li class="catalog-images">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/2/catalog-2-desk.png    1x,
              /img/catalog/2/catalog-2-desk@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/2/catalog-2-tab.png    1x,
              /img/catalog/2/catalog-2-tab@2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/catalog/2/catalog-2-mob.png    1x,
              /img/catalog/2/catalog-2-mob@2x.png 2x
            "
          />
          <img
            class="catalog-images-clock"
            src="/img/catalog/2/catalog-2-mob.png"
            alt="Garmin Marq Athlete "
            width="292"
            height="292"
          />
        </picture>
        <div class="catalog-image-desc">
          <h3 class="image-title">Garmin Marq Athlete</h3>
          <p class="image-desc">€450</p>
        </div>
      </li>
      <li class="catalog-images">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/3/catalog-3-desk.png    1x,
              /img/catalog/3/catalog-3-desk@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/3/catalog-3-tab.png    1x,
              /img/catalog/3/catalog-3-tab@2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/catalog/3/catalog-3-mob.png    1x,
              /img/catalog/3/catalog-3-mob@2x.png 2x
            "
          />
          <img
            class="catalog-images-clock"
            src="/img/catalog/3/catalog-3-mob.png"
            alt="Garmin Descent MK1"
            width="292"
            height="292"
          />
        </picture>
        <div class="catalog-image-desc">
          <h3 class="image-title">Garmin Descent MK1</h3>
          <p class="image-desc">€680</p>
        </div>
      </li>
      <li class="catalog-images">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/4/catalog-4-desk.png    1x,
              /img/catalog/4/catalog-4-desk@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/4/catalog-4-tab.png    1x,
              /img/catalog/4/catalog-4-tab@2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/catalog/4/catalog-4-mob.png    1x,
              /img/catalog/4/catalog-4-mob@2x.png 2x
            "
          />
          <img
            class="catalog-images-clock"
            src="/img/catalog/4/catalog-4-mob.png"
            alt="Garmin D2 Delta PX"
            width="292"
            height="292"
          />
        </picture>
        <div class="catalog-image-desc">
          <h3 class="image-title">Garmin D2 Delta PX</h3>
          <p class="image-desc">€380</p>
        </div>
      </li>
      <li class="catalog-images">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/5/catalog-5-desk.png    1x,
              /img/catalog/5/catalog-5-desk@2x.png 2x
            "
          />
          <source
            media="(max-width: 1279px)"
            srcset="
              /img/catalog/5/catalog-5-tab.png    1x,
              /img/catalog/5/catalog-5-tab@2x.png 2x
            "
          />
          <img
            class="catalog-images-clock"
            src="/img/catalog/5/catalog-5-tab.png"
            alt="Garmin Fenix 6 Pro Solar"
            width="292"
            height="292"
          />
        </picture>
        <div class="catalog-image-desc">
          <h3 class="image-title">Garmin Fenix 6 Pro Solar</h3>
          <p class="image-desc">€400</p>
        </div>
      </li>
      <li class="catalog-images">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/6/catalog-6-desk.png    1x,
              /img/catalog/6/catalog-6-desk@2x.png 2x
            "
          />
          <source
            media="(max-width: 1279px)"
            srcset="
              /img/catalog/6/catalog-6-tab.png    1x,
              /img/catalog/6/catalog-6-tab@2x.png 2x
            "
          />
          <img
            class="catalog-images-clock"
            src="/img/catalog/6/catalog-6-tab.png"
            alt="Tube Watch S42 Date Steel With Black Case"
            width="292"
            height="292"
          />
        </picture>
        <div class="catalog-image-desc">
          <h3 class="image-title">Tube Watch S42 Date Steel With Black Case</h3>
          <p class="image-desc">€395</p>
        </div>
      </li>
    </ul>
    <button class="catalog-button" type="button">Show more</button>
  </div>
</section>
