<section class="catalog" id="catalog">
  <div class="container catalog-container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-cards">
      <li class="catalog-images">
        <img src="" alt="Garmin Fenix 7X Pro Sapphire Solar" />
        <h3 class="image-title">Garmin Fenix 7X Pro Sapphire Solar</h3>
        <p class="image-description">€500</p>
      </li>
      <li class="catalog-images">
        <img src="" alt="Garmin Marq Athlete" />
        <h3 class="image-title">Garmin Marq Athlete</h3>
        <p class="image-desc">€450</p>
      </li>
      <li class="catalog-images">
        <img src="" alt="Garmin Descent MK1" />
        <h3 class="image-title">Garmin Descent MK1</h3>
        <p class="image-desc">€680</p>
      </li>
      <li>
        <img src="" alt="Garmin D2 Delta PX" />
        <h3 class="image-title">Garmin D2 Delta PX</h3>
        <p class="image-desc">€380</p>
      </li>
      <li class="catalog-images hidden-mobile">
        <img src="" alt="Garmin Fenix 6 Pro Solar" />
        <h3 class="image-title">Garmin Fenix 6 Pro Solar</h3>
        <p class="image-desc">€400</p>
      </li>
      <li class="catalog-images hidden-mobile">
        <img src="" alt="Tube Watch S42 Date Steel With Black Case" />
        <h3 class="image-title">Tube Watch S42 Date Steel With Black Case</h3>
        <p class="image-desc">€395</p>
      </li>
    </ul>
    <button class="catalog-button" type="button">Show more</button>
  </div>
</section>
