<footer class="footer" id="footer">
  <div class="container footer-container">
    <div class="footer-bg">
      <div class="footer-top">
        <div class="footer-top-links">
          <a href="./index.html" class="logo footer-logo">watchcharm</a>
          <ul class="header-social-list">
            <li class="header-social-item">
              <a
                href="https://www.facebook.com/goITclub/"
                target="_blank"
                class="header-social-link"
                ><svg class="header-social-icon" width="20" height="20">
                  <use href="./img/icons.svg#icon-facebook"></use></svg
              ></a>
            </li>
            <li class="header-social-item">
              <a
                href="https://www.instagram.com/goitclub/"
                target="_blank"
                class="header-social-link"
                ><svg class="header-social-icon" width="20" height="20">
                  <use href="./img/icons.svg#icon-instagram"></use></svg
              ></a>
            </li>
            <li class="header-social-item">
              <a
                href="https://www.youtube.com/c/GoIT"
                target="_blank"
                class="header-social-link"
                ><svg class="header-social-icon" width="20" height="20">
                  <use href="./img/icons.svg#icon-youtube"></use></svg
              ></a>
            </li>
          </ul>
        </div>
        <a href="tel:+380684439426" class="footer-tel">+380 (68) 443-94-26</a>
        <h4 class="footer-title">
          Have the time of your life with our watches: where high-class
          craftsmanship meets impeccable design
        </h4>
      </div>

      <div class="footer-nav">
        <nav class="header-nav">
          <ul class="header-nav-ul">
            <li class="header-nav-item">
              <a href="#hero" class="header-nav-link">Home</a>
            </li>
            <li class="header-nav-item">
              <a href="#about-us" class="header-nav-link">About Us</a>
            </li>
            <li class="header-nav-item">
              <a href="#catalog" class="header-nav-link">Catalog</a>
            </li>
            <li class="header-nav-item">
              <a href="#sale" class="header-nav-link">Sale</a>
            </li>
            <li class="header-nav-item">
              <a href="#reviews" class="header-nav-link">Reviews</a>
            </li>
            <li class="header-nav-item">
              <a href="#contact" class="header-nav-link">Contact Us</a>
            </li>
          </ul>
        </nav>
        <address class="footer-address">
          <a
            href="https://maps.app.goo.gl/jtJBwS1HSekuzKjG9"
            class="footer-address-link"
          >
            1678 S. Pioneer Road Salt Lake City UT 84104
          </a>
        </address>
      </div>
      <div class="footer-rights-box">
        <p class="footer-rights-text">
          &copy;2023 The Watch Spot. All rights reserved.
        </p>
        <a href="" class="footer-rights-link">Terms of Service</a>
        <a href="" class="footer-rights-link">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
