<header class="header" id="header">
  <!-- ---------HEADER--------- -->
  <div class="container header-container">
    <button type="button" class="menu-open-btn" data-menu-open>
      <svg class="menu-open-icon" width="" height="">
        <use href=""></use>
      </svg>
    </button>
  </div>
  <!-- ---------MOBILE MENU--------- -->
  <div class="mobile-menu" data-menu>
    <button type="button" class="menu-close-btn" data-menu-close>
      <svg class="menu-close-icon" width="" height="">
        <use href=""></use>
      </svg>
    </button>
  </div>
</header>
