<header class="header" id="header">
  <!-- ---------HEADER--------- -->
  <div class="container header-container">
    <a href="./index.html" class="logo header-logo">watchcharm</a>
    <nav class="header-nav">
      <ul class="header-nav-ul">
        <li class="header-nav-item">
          <a href="#hero" class="header-nav-link">Home</a>
        </li>
        <li class="header-nav-item">
          <a href="#about-us" class="header-nav-link">About Us</a>
        </li>
        <li class="header-nav-item">
          <a href="#catalog" class="header-nav-link">Catalog</a>
        </li>
        <li class="header-nav-item">
          <a href="#sale" class="header-nav-link">Sale</a>
        </li>
        <li class="header-nav-item">
          <a href="#reviews" class="header-nav-link">Reviews</a>
        </li>
        <li class="header-nav-item">
          <a href="#contact" class="header-nav-link">Contact Us</a>
        </li>
      </ul>
    </nav>
    <ul class="header-social-list">
      <li class="header-social-item">
        <a
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          class="header-social-link"
          ><svg class="header-social-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-facebook"></use></svg
        ></a>
      </li>
      <li class="header-social-item">
        <a
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          class="header-social-link"
          ><svg class="header-social-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-instagram"></use></svg
        ></a>
      </li>
      <li class="header-social-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          class="header-social-link"
          ><svg class="header-social-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-youtube"></use></svg
        ></a>
      </li>
    </ul>
    <button type="button" class="menu-open-btn" data-menu-open>
      <svg class="menu-open-icon" width="34" height="34">
        <use href="./img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
  <!-- ---------MOBILE MENU--------- -->
  <div class="modal-close" data-bg data-bg-close data-menu-close></div>
  <div class="mobile-menu" data-menu>
    <button type="button" class="menu-close-btn" data-menu-close>
      <svg class="menu-close-icon" width="34" height="34">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="header-nav">
      <ul class="header-nav-ul">
        <li class="header-nav-item">
          <a href="#hero" class="header-nav-link">Home</a>
        </li>
        <li class="header-nav-item">
          <a href="#about-us" class="header-nav-link">About Us</a>
        </li>
        <li class="header-nav-item">
          <a href="#catalog" class="header-nav-link">Catalog</a>
        </li>
        <li class="header-nav-item">
          <a href="#sale" class="header-nav-link">Sale</a>
        </li>
        <li class="header-nav-item">
          <a href="#reviews" class="header-nav-link">Reviews</a>
        </li>
        <li class="header-nav-item">
          <a href="#contact" class="header-nav-link">Contact Us</a>
        </li>
      </ul>
    </nav>
    <ul class="header-social-list">
      <li class="header-social-item">
        <a
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          class="header-social-link"
          ><svg class="header-social-icon" width="18" height="18">
            <use href="./img/icons.svg#icon-facebook"></use></svg
        ></a>
      </li>
      <li class="header-social-item">
        <a
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          class="header-social-link"
          ><svg class="header-social-icon" width="18" height="18">
            <use href="./img/icons.svg#icon-instagram"></use></svg
        ></a>
      </li>
      <li class="header-social-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          class="header-social-link"
          ><svg class="header-social-icon" width="18" height="18">
            <use href="./img/icons.svg#icon-youtube"></use></svg
        ></a>
      </li>
    </ul>
  </div>
</header>
