<!-- section hero -->

<section class="hero" id="hero">
  <div class="container hero-container">
    <div class="hero-main-wrap">
      <!-- hero left -->
      <div class="hero-left-wrap">
        <h1 class="hero-hdr">
          Welcome to our <span>collection</span> of premium watches
        </h1>
        <p class="hero-txt">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>

      <!-- hero right -->
      <div class="hero-right-wrap">
        <!-- hero person-1 -->
        <div class="hero-person hero-person-1">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/people/1/person-1-desk.png    1x,
                /img/people/1/person-1-desk@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/people/1/person-1-tab.png    1x,
                /img/people/1/person-1-tab@2x.png 2x
              "
            />
            <img
              src="/img/people/1/person-1-mob.png"
              srcset="
                /img/people/1/person-1-mob.png    1x,
                /img/people/1/person-1-mob@2x.png 2x
              "
              alt="Person 1"
            />
          </picture>
        </div>

        <!-- hero person-2 -->
        <div class="hero-person hero-person-2">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/people/2/person-2-desk.png    1x,
                /img/people/2/person-2-desk@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/people/2/person-2-tab.png    1x,
                /img/people/2/person-2-tab@2x.png 2x
              "
            />
            <img
              src="/img/people/2/person-2-mob.png"
              srcset="
                /img/people/2/person-2-mob.png    1x,
                /img/people/2/person-2-mob@2x.png 2x
              "
              alt="Person 2"
            />
          </picture>
        </div>

        <!-- hero person-3 -->
        <div class="hero-person hero-person-3">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/people/3/person-3-desk.png    1x,
                /img/people/3/person-3-desk@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/people/3/person-3-tab.png    1x,
                /img/people/3/person-3-tab@2x.png 2x
              "
            />
            <img
              src="/img/people/3/person-3-mob.png"
              srcset="
                /img/people/3/person-3-mob.png    1x,
                /img/people/3/person-3-mob@2x.png 2x
              "
              alt="Person 3"
            />
          </picture>
        </div>
        <a class="hero-link hero-transition" href="#footer">Scroll down</a>
      </div>
    </div>

    <!-- hero down-->
    <div class="hero-img-wrap"></div>
  </div>
</section>
