<section class="sale" id="sale">
  <div class="container sale-container">
    <h2 class="saleTitle">Sale</h2>
    <div class="saleWrapper">
      <div class="saleImg-wrapper">
        <ul class="saleImgRow">
          <li class="saleImgRow-item">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/sale/1/sale-1-tab.png    1x,
                  /img/sale/1/sale-1-tab@2x.png 2x
                " />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/sale/1/sale-1-mob.png    1x,
                  /img/sale/1/sale-1-mob@2x.png 2x
                " />
              <img
                src="/img/sale/sale-1-mob.png"
                class="saleImgRow-item-img"
                data-count="1"
                alt="foto 1"
            /></picture>
          </li>
          <li class="saleImgRow-item">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/sale/2/sale-2-tab.png    1x,
                  /img/sale/2/sale-2-tab@2x.png 2x
                " />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/sale/2/sale-2-tab.png    1x,
                  /img/sale/2/sale-2-tab@2x.png 2x
                " />
              <img
                src="/img/sale/2/sale-2-tab.png"
                class="saleImgRow-item-img"
                data-count="2"
                alt="foto 2"
            /></picture>
          </li>
          <li class="saleImgRow-item">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/sale/3/sale-3-tab.png    1x,
                  /img/sale/3/sale-3-tab@2x.png 2x
                " />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/sale/3/sale-3-mob.png    1x,
                  /img/sale/3/sale-3-mob@2x.png 2x
                " />
              <img
                src="/img/sale/3/sale-3-mob.png"
                class="saleImgRow-item-img"
                data-count="3"
                alt="foto 3"
            /></picture>
          </li>
          <li class="saleImgRow-item">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/sale/4/sale-4-tab.png    1x,
                  /img/sale/4/sale-4-tab@2x.png 2x
                " />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/sale/4/sale-4-mob.png    1x,
                  /img/sale/4/sale-4-mob@2x.png 2x
                " />
              <img
                src="/img/sale/4/sale-4-mob.png"
                class="saleImgRow-item-img"
                data-count="4"
                alt="foto 4"
            /></picture>
          </li>
        </ul>
        <div class="saleMainImg">
          <img
            class="saleMainImg-item"
            srcset="
              /img/sale/1/sale-1-mob-max.png    1x,
              /img/sale/1/sale-1-mob@2x-max.png 2x
            "
            src="/img/sale/1/sale-1-mob-max.png"
            alt="foto main"
            width="235"
          />
        </div>
      </div>
      <div class="saleDiscribe">
        <p class="saleDiscribe-title">
          MARQ® Commander (Gen 2) - Carbon Edition
        </p>
        <p class="saleDiscribe-tag">Product tag: 706587</p>
        <div class="saleDiscribe-price">
          <p class="saleDiscribe-priceNow">€1500</p>
          <span class="saleDiscribe-priceOld">€3000</span>
        </div>
        <p class="saleDiscribe-main">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="saleDiscribe-list">
          <li class="saleDiscribe-listItem"><span>Fused carbon fiber</span></li>
          <li class="saleDiscribe-listItem"><span>Grade-5 Titanium</span></li>
          <li class="saleDiscribe-listItem"><span>Athlete</span></li>
          <li class="saleDiscribe-listItem"><span>Golfer</span></li>
          <li class="saleDiscribe-listItem"><span>Commander</span></li>
          <li class="saleDiscribe-listItem"><span>Adventurer</span></li>
        </ul>
      </div>
    </div>
  </div>
</section>
