.advertisement {
  margin-bottom: 60px;
}
.advertisement-container {
  max-width: 375px;
}

.advertisement-background {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 28px;
  border-radius: 30px;
  padding: 60px 28px;

  background-image: url(/img/advertisement/advertisement-mob.png);
  background-color: var(--main);
  background-blend-mode: color-dodge;
}

@media screen and (min-resolution: 192dpi),
  (-webkit-min-device-pixel-ratio: 2) {
  .advertisement-background {
    background-image: url(/img/advertisement/advertisement-mob@2x.png);
  }
}

.advertisement-text {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--background);
}
.advertisement-span {
  color: rgba(251, 251, 251, 0.5);
}

.advertisement-link {
  width: 160px;
  height: 48px;
  border: 1px solid rgba(251, 251, 251, 0.15);
  background-color: transparent;
  border-radius: 16px;
  padding: 15px 43px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  color: var(--background);
}

.advertisement-link:hover,
.advertisement-link:focus {
  background-color: var(--background);
  color: var(--main);
}

@media screen and (min-width: 768px) {
  .advertisement {
    margin-bottom: 80px;
  }
  .advertisement-container {
    max-width: 704px;
  }

  .advertisement-background {
    max-width: 768px;
    gap: 32px;
    padding: 80px 64px;
    background-image: url(/img/advertisement/advertisement-tab.png);
  }

  @media screen and (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2) {
    .advertisement-background {
      background-image: url(/img/advertisement/advertisement-tab@2x.png);
    }
  }

  .advertisement-text {
    font-size: 48px;
    line-height: 0.92;
    letter-spacing: -0.02em;
  }
}

@media screen and (min-width: 1280px) {
  .advertisement {
    margin-bottom: 100px;
  }
  .advertisement-container {
    max-width: 1280px;
  }

  .advertisement-background {
    max-width: 1280px;
    flex-direction: row;
    justify-content: space-between;
    padding: 83px 80px;
    background-image: url(/img/advertisement/advertisement-desk.png);
  }

  @media screen and (min-resolution: 192dpi) {
    .advertisement-background {
      background-image: url(/img/advertisement/advertisement-desk@2x.png);
    }
  }

  .advertisement-text {
    max-width: 690px;
    letter-spacing: -0.02em;
  }
}
