:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  font-family: 'Gilroy', sans-serif;
  color: var(--main);
  background-color: var(--background);
  line-height: 1.5;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

/* ---------COLORS--------- */
:root {
  --main: #0c0c0c;
  --accent: #3350e9;
  --background: #fbfbfb;
  --cards: #f3f3f3;
}

.logo {
  font-weight: 500;
  letter-spacing: -0.02em;
  color: var(--main);
  transition: transform 100ms ease-in-out;
}
.logo:hover,
.logo:focus {
  transform: scale(1.25);
}

section:not(:last-child) {
  padding-bottom: 60px;
}
