.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: var(--background);
  padding: 20px 0;
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
}

.header-container {
  display: flex;
  align-items: center;
}

/* .header-logo {} */

.header-container .header-nav {
  display: none;
}

/* .header-nav-ul {} */

/* .header-nav-item {} */

/* .header-nav-link {} */

.header-container .header-social-list {
  display: none;
}

/* .header-social-item {} */

/* .header-social-link {} */

/* .header-social-icon {} */

.menu-open-btn {
  width: 34px;
  height: 34px;
  margin-left: auto;
  background-color: transparent;
  border: none;
  transition: transform 200ms ease-in-out;
}

.menu-open-btn:hover,
.menu-open-btn:focus {
  /* transform: rotate(270deg); */
  transform: scale(1.15);
}

.menu-open-icon {
  stroke: var(--main);
}

.modal-close {
  width: calc(100% - 200px);
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-close.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.mobile-menu {
  padding: 20px 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-image: linear-gradient(
      rgba(12, 12, 12, 0.92),
      rgba(12, 12, 12, 0.92)
    ),
    url(/img/header/menu-bg-mob.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media screen and (min-resolution: 192dpi) {
    background-image: linear-gradient(
        rgba(12, 12, 12, 0.92),
        rgba(12, 12, 12, 0.92)
      ),
      url(/img/header/menu-bg-mob@2x.png);
  }

  transform: translateX(100%);
  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out,
    pointer-events 250ms ease-in-out, transform 250ms ease-in-out;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateX(0);
}

.menu-close-btn {
  background-color: transparent;
  border: none;
  align-self: flex-end;
  margin-right: 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  transition: transform 200ms ease-in-out, background-color 200ms ease-in-out;
}

.menu-close-btn:hover,
.menu-close-btn:focus {
  background-color: var(--cards);
  transform: scale(1.15);
}

.menu-close-icon {
  stroke: var(--background);
  transition: stroke 200ms ease-in-out, transform 200ms ease-in-out;
}

.menu-close-btn:hover .menu-close-icon,
.menu-close-btn:focus .menu-close-icon {
  stroke: var(--main);
  transform: scale(1.15);
}

.mobile-menu .header-nav {
  color: var(--background);
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  font-weight: 500;
}

/* .mobile-menu .header-nav-ul {} */

.mobile-menu .header-nav-item {
  cursor: pointer;
  transition: transform 200ms ease-in-out;
}

.mobile-menu .header-nav-item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-menu .header-nav-item:hover,
.mobile-menu .header-nav-item:focus {
  transform: translateY(-20%);
}

.mobile-menu .header-nav-link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.mobile-menu .header-nav-link::after {
  content: '';
  display: inline-flex;
  width: 8px;
  height: 8px;
  background-color: var(--accent);
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, 200%);
  opacity: 0;
  visibility: hidden;

  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out,
    visibility 200ms ease-in-out;
}

.mobile-menu .header-nav-item:hover .header-nav-link::after,
.mobile-menu .header-nav-item:focus .header-nav-link::after {
  transform: translate(-50%, 0);
  opacity: 1;
  visibility: visible;
}

.mobile-menu .header-social-list {
  display: flex;
  gap: 10px;
}
.mobile-menu .header-social-item {
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
}

.mobile-menu .header-social-item:hover,
.mobile-menu .header-social-item:focus {
  transform: scale(1.15);
}

.mobile-menu .header-social-link {
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-menu .header-social-icon {
  fill: var(--background);
  opacity: 80%;
  transition: opacity 200ms ease-in-out;
}

.mobile-menu .header-social-item:hover .header-social-icon,
.mobile-menu .header-social-item:focus .header-social-icon {
  opacity: 100%;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  /* .header-logo {
    font-size: 20px;
  } */

  .menu-open-btn {
    width: 40px;
    height: 40px;
  }

  .menu-open-icon {
    width: 40px;
    height: 40px;
  }

  .mobile-menu {
    padding: 26px 0 50px;
    width: 330px;
    background-image: linear-gradient(
        rgba(12, 12, 12, 0.92),
        rgba(12, 12, 12, 0.92)
      ),
      url(/img/header/menu-bg-tab.png);

    @media screen and (min-resolution: 192dpi) {
      background-image: linear-gradient(
          rgba(12, 12, 12, 0.92),
          rgba(12, 12, 12, 0.92)
        ),
        url(/img/header/menu-bg-tab@2x.png);
    }
  }

  .header-social-icon {
    width: 20px;
    height: 20px;
  }

  .menu-close-btn {
    margin-right: 32px;
    width: 40px;
    height: 40px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .header-container {
    justify-content: space-between;
  }

  .header-container .header-nav {
    display: block;
  }

  .header-nav-ul {
    display: flex;
    gap: 40px;
  }

  .header-nav-item {
    cursor: pointer;
    transition: transform 200ms ease-in-out;
  }

  .header-nav-item:hover,
  .header-nav-item:focus {
    transform: translateY(-20%);
  }

  .header-nav-link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }

  .header-nav-link::after {
    content: '';
    display: inline-flex;
    width: 8px;
    height: 8px;
    background-color: var(--accent);
    border-radius: 50%;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 200%);
    opacity: 0;
    visibility: hidden;

    transition: transform 200ms ease-in-out, opacity 200ms ease-in-out,
      visibility 200ms ease-in-out;
  }

  .header-nav-item:hover .header-nav-link::after,
  .header-nav-item:focus .header-nav-link::after {
    transform: translate(-50%, 0);
    opacity: 1;
    visibility: visible;
  }

  .header-container .header-social-list {
    display: flex;
    gap: 10px;
  }

  .header-social-item {
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
  }

  .header-social-item:hover,
  .header-social-item:focus {
    transform: scale(1.15);
  }

  .header-social-link {
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-social-icon {
    fill: var(--main);
    transition: fill 200ms ease-in-out;
  }

  .header-social-item:hover .header-social-icon,
  .header-social-item:focus .header-social-icon {
    fill: var(--accent);
  }

  .menu-open-btn,
  .modal-close,
  .mobile-menu {
    display: none;
  }
}
